@tailwind base;
@tailwind components;
@tailwind utilities;

.sticky-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #1d4ed8; /* Blue */
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .sticky-button:hover {
    background-color: #2563eb; /* Darker Blue */
  }
  